.nyc_output/
bin/daemon/
coverage/
daemon/

cypress/downloads/
cypress/screenshots/
cypress/videos/

data/backups/*
!data/backups/README.md

data/sessions/*.json

data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
data/data.json

data/config.d.ts
data/config.js
data/config.ts

node_modules/

public/images-custom/*

megalinter-reports/
temp_build/

.tsbuildinfo

# Jetbrains IDEs
.idea/
*.iml
