/* eslint-disable css/no-important */
/* eslint css/no-invalid-properties: ["error", { allowUnknownVariables: true }] */

.has-width-1 {
  width: 1px;
}

.is-nowrap {
  white-space: nowrap;
}

/* to fix page titles inside level components, set on .level-left */

.has-border-radius-3 {
  border-radius: 3px;
}

/*
 * Panels
 */

.panel-block:first-child {
  border-start-start-radius: var(--bulma-panel-radius);
  border-start-end-radius: var(--bulma-panel-radius);
}

/*
 * Tables
 */

.table.is-fixed {
  table-layout: fixed;
}

/*
 * Tabs
 */

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

/*
 * Print
 */

.container.is-page {
  width: 8.5in;
  padding: 10px 20px 20px;
  margin: 20px auto;
  background-color: var(--bulma-white);
  border: 1px solid var(--bulma-black);
}

@media print {
  .container.is-page {
    width: 100%;
    padding: 0;
    border: 0;
  }
}

/*
 * Static button pointer events
 */

span.button.is-static {
  pointer-events: all;
  cursor: default;
}

/*
 * Modal right-justified button spacing
 */

.modal .buttons.is-block.has-text-right > .button {
  margin-left: 0.5em;
}

.is-block.is-hidden {
  display: none !important;
}

/*
 * Panel with hidden block
 */

.panel-heading:has(+ .panel-block.is-hidden) {
  border-radius: var(--bulma-panel-radius);
}

/*
 * Form elements
 */

.textarea {
  /* eslint-disable-next-line css/use-baseline */
  resize: vertical;
}

.input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input:read-only {
  background-color: var(--bulma-input-disabled-background-color);
}

.select option:disabled {
  display: none;
}

/*
 * Required icons
 */

.control.has-icons-right:has(.select) .icon.is-right {
  right: 1.75em;
}

.control.has-icons-right input:disabled:required ~ .icon.is-right:has(.fa-asterisk) {
  display: none;
}

/*
 * SVG
 */

.image svg {
  display: block;
  height: auto;
  width: 100%;
}

.image svg .highlight.is-danger,
.image svg .highlight path.is-danger {
  stroke: var(--bulma-danger-dark) !important;
  fill: rgba(var(--bulma-danger-light), 0.6);
}

.image svg .highlight.is-success,
.image svg .highlight path.is-success {
  stroke: rgb(72, 199, 142) !important;
  fill: rgba(72, 199, 142, 0.6);
}

.image svg text {
  /* eslint-disable-next-line css/use-baseline */
  user-select: none;
}

/*
 * Print
 */

@media print {
  .is-hidden-print,
  .navbar.is-fixed-top,
  .breadcrumb {
    display: none !important;
  }

  html.has-navbar-fixed-top {
    padding-top: 0 !important;
  }
}

.avoid-page-break {
  break-inside: avoid;
}

/*
 * Bulma - Font Awesome integration
 * Reduce jitter when icons are loading by reserving space for them.
 */

.icon:has(i.fa-regular, i.fa-solid) {
  height: 1em;
}

.icon:has(> i.fa-2x) {
  font-size: 2em;
}

.icon:has(> i.fa-3x) {
  font-size: 3em;
}

.icon:has(> i.fa-4x) {
  font-size: 4em;
}

/* Dashboard icons */
.media-left:has(i.fa-4x, .fa-layers.fa-4x i) {
  font-size: 4em;
  width: 1.25em;
  height: 1em;
}

/*
 * Burial site field with hidden first control
 */

.field .control:first-child.is-hidden + .control .input {
  border-end-start-radius: var(--bulma-input-radius);
  border-start-start-radius: var(--bulma-input-radius);
}